.DS_Store
._.DS_Store
.idea
*.iml
*.ipr
*.iws
.*.sw?
.sw?
*.pyc
*.o
*.hi
dist/
cache/
target/
target-sbt/
build/
result
.project
TAGS
tags
/result-*
**/.settings
**/.classpath
**/.factorypath
*.tgz
*~
*.orig
sqlite
venv
node_modules/
/out/
*.db
.vscode
.m2/